
<html>
    <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>Rapport</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
    <body>
        <h1>Rapport</h1>
        <article>
            <h2>Symfony</h2>
            <p>Maintenant que le cahier des charges fonctionnel et technique est définie, il est temps de developper. J'ai donc commencé par creer l'interface graphique avec Symfony.</p>
            <p>
                Pour que Symfony fonctionne, j'ai d'abord du installer :
            <ul>
                <li>nodeJs</li>
                 <li>npm</li>
                 <li>php</li>
                 <li>et pour finir symfony</li>
            </ul>
            </p>
            <p>
                Pour le coté base de donnée, j'ai utilisé phpmyadmin 
                car il est fourni  avec  wampserver. Je crée tout de suite une base de donnée mysql que j'appelle "potanet".
            </p> 
            <p>
                Je crée ensuite mon projet symfony avec la commande <p class="commande">symfony new Potanet --full</p>puis pour installer les bibliothèques PHP externes je fais "composer install".
            </p>
            
            <p>
                  Ensuite j'ouvre mon projet avec Visual Studio et j'ouvre le fichier .env qui se situe à la racine du projets et je configure le chemin vers la base de donnée.
                    <img src="images/env.png" alt="fichier env.">
            </p>
          
            <p>
                Puis pour mettre à jour et vérifier que j'ai bien configurer le chemin je fais
                <p class="commande">
                    php bin/console doctrine:schema:update --force
                </p> 
            </p>
            
            <p>
                 J'utilise Webpack pour condenser tous les fichiers assets. Pour installer les modules je fais <p class="commande">
                      npm install --save-dev
                 </p>
           
            Pour générer les fichier CSS et JS j'entre la commande
            <p class="commande">
                npm run dev
            </p>
            
            Pour générer les fichier en production
            <p class="commande">
                npm run build
            </p>
            
           
            Enfin pour lancer le serveur symfony
            <p class="commande">
                "symfony server:start"
            </p>
            
            </p>
          
           <p>
            Maintenant que tout est prêt, je crée les entitée suivantes avec la commande <span class="commande">php bin/console make:entity</span> :
                <ul>
                    <li>Serre</li>
                    <li>Plant</li>
                    <li>Plante</li>
                    <li>Rapport</li>
                    <li>Arrosage</li>
                </ul>
                Je renseigne les differents attributs des entitées et symfony me génere automatiquement les fichier php des différentes entitées dans le dossier Entity. Je n'ai plus qu'a refaire la commande <span class="commande">
                    php bin/console doctrine:schema:update --force</span> pour que Doctrine me crée automatiquement les tables lié au entitées dans ma base de donnée
           </p>
           <p>
                Je crée les differentes relations en refaisant la commande mais avec le nom d'une entité qui existe déjas et en utilisant le type <strong>ManyToOne</strong> ou <strong>OneToMany</strong>. Voici les relations :
                <img src="images/relation1.png" alt="">
           </p>
           <p>Pour naviguer entre les différentes pages de l'application, il faut crée des controlleurs pour chaque entitées avec la commande <span class="commande">"php bin/console make:controller</span>. Cela va crée en même temps un fichier index.html.twig dans le dossier de templates de l'entité. Ces fichiers serviront de vus principale pour nos entitée (sauf arrosage)</p>
           <figure>
            <img src="images/vuedebase.png" alt="menu lateral">
            <figcaption>Vue principale de l'entité Serre</figcaption>
            </figure>
            
           <p>
               Les différentes pages du site web sont des vues en html.twig qu'on trouve dans le fichier templates. Chaque entité à ces propre vue mais elles ont en point commun de partagé la vue du fichier base.html.twig.En effet, c'est dans ce fichier que je crée les elements commun a toute les pages du sites à savoir la barre de navigation et le footer. Il suffit d'ajouter dans les autre vue la balise <span class="commande">{% extends 'base.html.twig' %}</span> pour ajouter ces elements. 
           </p>
           <p>
               Je crée un dossier que je nomme decorator et qui va contenir les templates d'elements que je vais rajouter à mes autre vues. Je crée donc à l'intérieur de ce dossier le fichier _form.html.twig qui definira l'aspect de mes formulaire et le fichier _panneauLateral.html.twig ou il y'aura le template du menu pop-up. 
               <div class="flex">
                    <figure>
                   <img src="images/menuLateral.png" alt="menu lateral">
                   <figcaption>Le menu pop-up</figcaption>
               </figure>
                <figure>
                    <img src="images/form.png" alt="menu lateral">
                    <figcaption>Un formulaire de Potanet</figcaption>
                </figure>
               </div>
              
           </p> 
               <p>
                   Je crée donc mes différentes vue avec html pour la structure, twig pour l'affichage dynamique et css/Bootstrap pour le style. J'écris le css dans le fichier assets/scss/front.scss. J'utilise aussi un peu de javascript et de JQuery pour faire fonctionner le menu pop-up. Maintenant que mes entités ont tous un index.html.twig , je leur crée une vue pour les supprimer (delete.html.twig), modifier(edit.html.twig) et ajouter(new.html.twig) dans lesquelle j'ajoute mon template _form.html.twig pour afficher des formulaires.
               </p>
               
          
            <p>
                 Les elements des formulaire pour crée et modifier sont définie pour chaque entitées dans les fichier du dossier Form. Symfony les crée automatiquement par rapport au type des attributs des differentes entitées. Pour effectuer ces differentes actions, je crée dans les differents controlleurs de mes entitées des routes delete, new et edit.
            </p>
 
           <p>Maintenant qu'on peut naviguer entre les différentes pages du site et qu'on peut créer, modifier et supprimer des entités, je vais créer l'entité SensorData qui représente les données envoyées par les capteurs de l'esp32 (Nous verrons plus tard comment sont récupéré ces données). Je crée aussi un nouveau contrôleur nommé ApiController où sera définie les routes de l'api de l'application. J'ai besoin d'une api pour pouvoir facilement transmettre des données à l'esp32 et pour créer des graphiques. Ces routes, au lieu de renvoyer une vu, vont renvoyer des tableaux JSON.</p>
           <p>Afin de voir aisément l'évolution de la température, de l'humidité et de l'humidité du sol, je vais créer des graphiques pour chacune de ces trois mesures dans plante/index.html.twig. Ces graphiques seront créés grâce à l'api google Chart. Premièrement je récupère les valeurs du capteur en question en faisant une requête ajax sur l'api de mon site puis j'ajoute ces valeurs à l'url de mon image.</p>
           <span>Ajouter image graphique</span>
 
 
 
           
            
        </article>
       <article>
           <h2>Serveur</h2>
           <p>Le developpement de l'interface graphique du projet est terminé, je vais maintenant parlé du serveur</p>
           <p>Comme dit plus haut, j'utilise apache, qui est fourni avec wampserver, pour emuler un serveur web. J'utilise le language PHP pour programmer mon serveur. Je crée donc un fichier serveur.php dans le repertoire www de mon wampserver. Ce script aura comme mission de récupérer les requetes POST de l'esp32 et d'enregistrer les données ainsi envoyé dans la base de données. Ce script à aussi une fonction qui suprimera automatiquement les plus vielles valeurs dès qu'une limite définie est dépassée.</p>
       </article>
       <article>
           <h2>Objet connecté</h2>
           <p>Mon objet connecté est un systeme d'arrosage composé d'un esp32, d'une pompe et de 3 capteur (température, humidité, humidité du sol). J'ai utilisé Arduino IDE pour programmer l'Arduino.</p>
           
       </article>
       <article>
           <h2>Problème rencontré</h2>
           <p>Lors du développement du projet, j'ai du faire face à de nombreux problème. Le principale problème est que je connaissais très peu Symfony et que j'ai d'abord du faire des projets bidons pour pouvoir maitriser les bases du framework. Ensuite j'ai eu du mal à trouver comment récupérer la requête POST de l'esp32. Pour les graphiques, j'ai d'abord essayé LucidChart mais je n'ai pas réussi à utiliser mes propres données pour crée les graphiques. Finalement j'ai utilisé Google Chart Image car c'est le seul que j'ai réussi à utilisé.</p>
       </article>
 https://www.spellboy.com/verification_orthographique/
    </body>
</html>
