article
{
	background-color: white;
	padding: 5%;
	-webkit-box-shadow: 5px 4px 21px -3px #000000; 
	box-shadow: 5px 4px 11px -3px #000000;
	border-radius: 5px;
	width: 50%;
	margin: auto;
	margin-bottom: 20px;
	
}
body
{
	background: linear-gradient(to top, #133611,#379232, #87E582);
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
h1
{
	color: white;
	text-align: center;
}
h2
{
	border-bottom: solid 1px silver;
}
table
{
	
	width:100%;
	border-collapse: collapse;
	

}
thead
{
	background-color: #658151;
	color: white;
	text-align: center;
	border:solid  #658151 2px;
}
td
{
	border:solid silver 2px;
	margin: 0px;
}
/*#schémas1
{
	width: 70%;
	height: auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}*/
strong
{
	border-bottom: solid #658151 1px;
}
.commande
{
	font-family: 'Source Code Pro', monospace;
	background-color: #000000;
	color: white;
	max-width: 25%;
	text-align: left;
}
img {
	max-width: 70%;
	height: auto;
  }
  .flex
  {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
	  align-items: center;
  }
p
{
	text-align: justify;
	line-height: 2em;
}
a
{
	color: black;
	text-decoration: none;
}
a:hover 
{
	text-decoration: underline;
}
.li_h1
{
	font-size: 20px;
	font-weight: bold;
}
li{
	margin-bottom: 1.5em;
	line-height: 2em;
}
