body
{
	background-color: rgb(248,245,245);
	margin:0px;
	width: 100%;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-family: 'Varela Round', sans-serif;
	color: #4C4C4C;
	

}
nav
{
	/*background-color:  #547E46;*/
	background: linear-gradient(to right, #547E46,#379232, #87E582);
	color: white;
	position: fixed;
	top:0px;
	width:100%;
	right: 0px;
	height:10%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
nav h1
{
	margin-left: 2%;

}


h1
{
	font-family: 'Lobster', cursive;
	font-size: 2em;
	
}
button
{
	background-color: #547E46;
	border:none;
	color: white;
	font-size: 1em;
	padding: 2%;
	border-radius: 5px;
	width: 40%;
}
button:hover
{
	background-color: #272E23;
}
.bold
{
	font-weight: bold;
}

#logo
{
	max-width: 3%;
	height: auto;
}
footer
{
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%; 
	font-size: 0.6em;
}
.main_box
{
	position: fixed;
	top: 15%;
	bottom:15%;
	width: 100%;
	right: 0px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;




}
.serre_nav_box
{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.serre_box
{
	
	width: 78%;
	height: 90%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	overflow: auto;
	flex-wrap: wrap;


}
.nav_box
{
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 5px;
	margin-left: 1.5%;
	width: 76.5%;
	height: 8%;
	margin-bottom: 1.5%;
}
.info_nav_box
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 20%;

}
.info_nav_box p
{
	margin-right: 5%;
}

.serre
{
	background-color: white;
	border-radius: 5px;
	padding: 1%;
	margin-left: 2%;
	margin-bottom: 2%;
	width: 21%;
	height: 50%;
	
}
.serre:hover
{
	-webkit-box-shadow: 3px 3px 16px 0px #4E4E4E; 
	box-shadow: 3px 3px 16px 0px #4E4E4E;
}
.cercle_serre
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 25%;
}
.p_box_annotation
{
	font-size: 0.7em;
	text-align: center;

	
}
.header_box
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px #547E46;
	height: 17%;
}
.panneau_lateral
{
	position: fixed;
	top: 15%;
	height: 55%;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width:20%;
	right:0px;
	background-color: white;
	align-self: flex-end;
	width: 20%;
	display: flex;
	flex-direction: column;

	
}
.header_panneau_lateral
{
	background: linear-gradient(to right, #547E46,#379232, #87E582);
	color: white;
	height: 8%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top-left-radius: 5px;
}
.header_panneau_lateral h1
{
	margin-left: 3%;
}
.ligne_menu_panneau_lateral
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 22%;
	

}

.ordre
{
	display: flex;
	flex-direction: column;
	margin: 2%;
	height: 22%;

}
.btn_ordre
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.filtre
{
	display: flex;
	flex-direction: column;
	margin: 2%;
	height: 46%;

}
.filtre button
{
	align-self: center;
	margin-top: 2%;
	width: 50%;
}
/*
.panneau_lateral h1
{
	color: white;
}
.ligne_panneau_lateral
{
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;

}*/
